header {
    padding-top:20px;
    padding-bottom:20px;
}

div.nav-center.nav-menu {
    top:0px;
}

#password {
    color: #42afe3;
    font-weight: bold;
}

.section {
    max-width: 1060px;
    margin: auto;
    border-left: 1px solid #38b2e2;
    border-right: 1px solid #38b2e2;
    padding-left:80px;
    padding-right:80px;
}
